# HTTP
PORT=4005

# Authentication
NOTIFICATION_API_KEYS=local-notification-key

# Postgres
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres
PGPASSWORD=Advance12
PGDATABASE=credit_bureau
PGSSLMODE=disable
